.button{
    color:azure;
    background-color: black;
    margin: auto;
    padding: 0;
    width: 17%;
    height: 100%;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


  .elseBtn{
    width: 80%;
    height: 40px;
  }
  