.foto-open__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
  }
 
  .foto-open__image {
    max-width: 75vw;
    max-height: 75vh;
    object-fit: cover;
  }

  .foto-open__name {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    margin: 10px 0 0;
    color: #ffffff;
    align-self: flex-start;
  }

  .foto-open__cross{
    position: absolute;
   top: -7%;
   left: 99%;
   width: 48px;
   height: 48px;
   background-color: transparent;
   border: none;
   background-image: url(../../images/CloseIcon.svg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center; 
 } 
 @media (max-width: 890px) {
   .foto-open__cross {
     top: -8%;
     left: 99%;
   }
 }
 @media (max-width: 780px) {
   .foto-open__cross {
     top: -9%;
     left: 99%;
   }
 }
 @media (max-width: 780px) {
   .foto-open__cross {
     top: -11%;
     left: 98%;
   }
 }
 @media (max-width: 570px) {
   .foto-open__cross {
     top: -13%;
     left: 98%;
   }
 }
 
 @media (max-width: 470px) {
   .foto-open__cross {
     top: -17%;
     left: 88%;
   }
 }