.App {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
  max-width: 860px;
  margin: 90px auto;
  position: relative;
}

.search-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 48px;
}

.opacity:hover {
  opacity: 0.6;
  transition-duration: 0.5s;
  cursor: pointer;
}
